/*** FONTS ***/
@font-face {
    font-family: HelveticaNeueCyr-Light;
    src: url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.ttf);
}

@font-face {
    font-family: HelveticaNeueCyr-Roman;
    src: url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.ttf);
}
 
@font-face {
    font-family: HelveticaNeueCyr-Medium;
    src: url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.ttf);
}

@font-face {
    font-family: HelveticaNeueCyr-Bold;
    src: url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.ttf);
}

@font-face {
    font-family: HelveticaNeueCyr-Black;
    src: url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Black.ttf);
}

@font-face {
    font-family: HelveticaNeueBoldCondensed;
    src: url(../fonts/HelveticaNeue/HelveticaNeueBoldCondensed.ttf);
}

@font-face {
    font-family: HelveticaNeueBlackCondensed;
    src: url(../fonts/HelveticaNeue/HelveticaNeueBlackCondensed.ttf);
}

@font-face {
    font-family: Gilroy-Light;
    src: url(../fonts/Gilroy/Gilroy-Light.ttf);
}

@font-face {
    font-family: Gilroy-Regular;
    src: url(../fonts/Gilroy/Gilroy-Regular.ttf);
}

@font-face {
    font-family: Gilroy-Medium;
    src: url(../fonts/Gilroy/Gilroy-Medium.ttf);
}

@font-face {
    font-family: Gilroy-Semibold;
    src: url(../fonts/Gilroy/Gilroy-Semibold.ttf);
}

@font-face {
    font-family: Gilroy-Black;
    src: url(../fonts/Gilroy/Gilroy-Black.ttf);
}
/*** END FONTS ***/



/*** GENERAL ***/
:root {
	--corporate-color-1: #00A3D3;
	--corporate-color-hover-1: #0092BD;
	--corporate-color-active-1: #007395;
	--corporate-color-2: #2292bb;
	--dark-color: #323232;
	--light-color: #E1E1E1;
}

.bg-light {
	background-color: #f8f9fa;
}


h1 {
	font-family: HelveticaNeueBlackCondensed;
	color: white;
	font-size: 48px;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 25px;
	line-height: 50px; }

	@media (max-width: 575.98px) {
		h1 { font-size: 28px; } }


h2 {
	font-family: HelveticaNeueBoldCondensed;
	color: var(--dark-color);
	font-size: 30px;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1; }

h3 {
    font-family: HelveticaNeueBoldCondensed;
	font-size: 20px;
	color: var(--dark-color);
}

p {
	font-family: Gilroy-Regular;
	color: #323232;
	font-size: 20px;
}

a {
	color: var(--corporate-color-1);
}

a:hover {
	color: var(--corporate-color-hover-1);
}

.quiz-section h3 {
	font-size: 20px;
}

.ico-button {
	opacity: 100%;
	transition: .25s;
	text-decoration: none;
}

.ico-button:hover {
	opacity: 75%;
}

.scroll-points {
    position: relative;
    top: -65px;
}

.home-description {
	font-family: HelveticaNeueCyr-Roman;
	color: white;
	font-size: 24px; }

	@media (max-width: 991.98px) {
		.home-description {
			font-size: 18px;
		}
	}


.section-description {
	font-family: HelveticaNeueCyr-Light;
	font-size: 20px;
}



/*** BREADCRUMBS ***/
.breadcrumbs {
    font-family: Gilroy-Light;
   	color: var(--default-color);
    font-size: 16px;
	/* padding-top: 25px; */
	padding-bottom: 15px; }

.breadcrumbs img {
    position: relative;
    bottom: 3px;
    transition: .25s; }

.breadcrumbs a {
	color: var(--default-color);
	text-decoration: none; }
/*** END BREADCRUMBS ***/



/*** CHECKBOX ***/
.form-check-input:checked {
    background-color: var(--corporate-color-1);
    border-color: var(--corporate-color-1);
}

.form-check-input:focus {
    border-color: var(--corporate-color-1);
    box-shadow: 0 0 0 .25rem rgba(255, 81, 71, .25);
}

@media (max-width: 991.98px) {
	.form-check {
		width: 47.5%;
		margin-right: 0;
		line-height: 18px;
	}
}
/*** END CHECKBOX ***/



.navbar-light .navbar-nav .nav-link {
    color: #C8C8C8;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: #C8C8C8;
}

.header-nav-bottom a.nav-link:hover,
.header-nav-bottom a.nav-link:focus {
    color: var(--corporate-color-1);
}

.navbar-light .navbar-nav .nav-link.active {
    color: var(--corporate-color-1);
}

/*** END GENERAL ***/



/*** CAROUSEL ***/
.carousel-item {
    position: relative;
    cursor: pointer;
    transition: transform .6s ease-in-out;
    padding-right: 0 !important;
	background-color: rgba(0, 0, 0, 0.8);
}

.carousel-item.active {
	cursor: default;
}

.carousel-control-prev-icon {
    width: 28px;
    height: 28px;
    background: url(../img/ico/left-arrow.svg);
}

.carousel-control-next-icon {
    width: 28px;
    height: 28px;
    background: url(../img/ico/right-arrow.svg);
}

.magnifying-glass {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    opacity: 0;
    transition: 0.3s;
}

.carousel-item:has(.magnifying-glass) {
	cursor: pointer;
}

.carousel-inner:hover .magnifying-glass {
    opacity: 1;
}
/*** END CAROUSEL ***/


/*** BUTTONS ***/
.btn-lg {
    line-height: 2;
}

.btn-primary2 {
	border-radius: 30px;
	max-width: 100%;
	max-width: 450px;
	/*height: 60px;*/
	color: white;
	background: #25674a;
	box-shadow: 0 0 3px 0 #596660;
	font-size: 1.25rem !important;
}

.btn-primary2:hover{
	opacity: .85;
	box-shadow: 0 0 25px 5px white;
	color: white;
}

.btn-primary3 {
	border-radius: 15px;
	max-width: 100%;
	width: 210px;
	color: white;
    background: #00a3d3;
	/* background: #e10585; */
	font-size: 1rem;
	transition: .25s;
	box-shadow: 0 0 5px 0 white;
	padding: 5px;
	margin: 0px 15px;
}

.btn-primary3:hover{
	opacity: .9;
	box-shadow: 0 0 12px 3px white;
}

.btn-corporate-color-1 {
    color: #FFFFFF;
    background-color: var(--corporate-color-1);
    border-color: var(--corporate-color-1);
	font-family: HelveticaNeueBoldCondensed;
	font-size: 16px;
}


.btn-corporate-color-1:hover {
    color: #FFFFFF;
    background-color: var(--corporate-color-hover-1);
    border-color: var(--corporate-color-hover-1);
}


.btn-corporate-color-1:active {
    color: #FFFFFF !important;
    background-color: var(--corporate-color-active-1) !important;
    border-color: var(--corporate-color-active-1) !important;
}


.btn-corporate-color-1:focus {
    box-shadow: 0 0 1px 3px rgba(0,163,211,.5);
}


/* Corporate color outline 1 */
.btn-corporate-color-outline-1 {
    color: #25674a;
    background-color: none;
    border-color: #25674a;
	border-radius: 20px;
	font-size: 16px;
}


.btn-corporate-color-outline-1:hover {
    color: #fff;
    background-color: #25674a;
    border-color: #25674a;
	opacity: .9;
	box-shadow: 0 0 12px 3px white;
}


.btn-corporate-color-outline-1:active {
    color: #fff;
    background-color: #25674a;
    border-color: #25674a;
	opacity: .8;
	box-shadow: 0 0 12px 3px white;
}


.btn-corporate-color-outline-1:focus {
    box-shadow: 0 0 1px 3px rgba(255,82,0,.5);
}
/* End corporate color outline 1 */
/*** END BUTTONS ***/

.magnifier {
    transition: 0.35s;
    opacity: 0;
    position: absolute;
    background: url(../img/ico/magnifying-glass.svg) no-repeat center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.magnifier:hover {
    cursor: pointer;
    opacity: 1;
}


/* HEADER */
.header-padding-top {
	padding-top: 150px;
}

/** Header nav top **/

.header-nav-top {
	width: 100%;
	border-bottom: 1px solid rgba(255,255,255,.25);
}

/*.header-top-menu span,
.header-top-menu .nav-link,*/
.header-nav-top a.nav-link {
	font-family: Gilroy-Regular;
	font-size: 14px;
	color: #C8C8C8;
}

.header-nav-top a.top-menu-tel.nav-link {
	font-family: HelveticaNeueBoldCondensed;
	font-size: 18px;
	text-decoration: none;
}

.nav-li-float-left {
    width: 24px;
    float: left;
    margin: auto;
    margin-right: 10px;
	text-align: center;
}

.nav-li-float-right {
    width: calc(100% - 24px);
    float: right;
    margin: auto;
    line-height: 16px;
}

/** End header nav top **/

/** Header nav bottom **/

.header-nav-bottom a.nav-link.dropdown-toggle,
.header-nav-bottom a.nav-link {
	font-family: Gilroy-Medium;
	font-size: 14px;
	color: #C8C8C8;
	text-transform: uppercase;
}

.header-nav-bottom .nav-link img {
	position: relative;
	bottom: 2px;
}

.header-nav-bottom a.nav-link:hover,
.header-nav-bottom a.nav-link.active {
	color: var(--corporate-color-1);
}

.dropdown-item {
	font-family: Gilroy-Medium;
	font-size: 14px;
	color: var(--dark-color);
	text-transform: uppercase;
}

.dropdown-toggle::after {
	background-image: url(../img/ico/accordion-arrow.svg);
    background-position: bottom;
    vertical-align: 0;
    margin-left: 14px;
    background-size: 10px;
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    border: none;
}

.dropdown-item.active,
.dropdown-item:active {
    color: var(--corporate-color-1);
    text-decoration: none;
    background-color: white;
}

/** Header nav bottom **/
/* END HEADER */


/*** MENU ***/
.site-menu a {
	font-size: 1rem!important;
	font-weight: 400;
}

.site-menu .has-children > a {
	font-size: 1rem!important;
	font-weight: 400;
}

.site-navbar-wrap a {
    color: var(--dark-color);
}

#main-menu .nav-item,
#navbarSupportedContent2 .nav-item,
#navbarSupportedContent3 .nav-item {
	font-family: Gilroy-Medium;
	font-size: 14px;
}

#main-menu .nav-link,
#navbarSupportedContent2 .nav-link {
	color: #4B4B4B;
}

#main-menu,
#navbarSupportedContent2,
#navbarSupportedContent3 {
	text-transform: uppercase;
}

#top-menu-2 {
	position: absolute;
	width: 100%;
	z-index: 999;
	top: 57px;
}

/** Header nav bottom **/

.header-nav-bottom a.nav-link.dropdown-toggle,
.header-nav-bottom a.nav-link {
	font-family: Gilroy-Medium;
	font-size: 14px;
	color: #C8C8C8;
	text-transform: uppercase;
}

.header-nav-bottom .nav-link img {
	position: relative;
	bottom: 2px;
}

.header-nav-bottom a.nav-link:hover,
.header-nav-bottom a.nav-link.active {
	color: var(--corporate-color-1);
}

.dropdown-item {
	font-family: Gilroy-Medium;
	font-size: 14px;
	color: var(--dark-color);
	text-transform: uppercase;
}

/*
.dropdown-item a {
	text-decoration: none;
}*/

.dropdown-toggle::after {
	background-image: url(../img/ico/accordion-arrow.svg);
    background-position: bottom;
    vertical-align: 0;
    margin-left: 14px;
    background-size: 10px;
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    border: none;
}

.dropdown-item.active,
.dropdown-item:active {
    color: var(--corporate-color-1);
    text-decoration: none;
    background-color: white;
}

/* HEADER-2-BOTTOM */
#header-2-bottom {
	/* border-top: 1px solid rgba(175,175,175,.5);
	background: rgba(248,249,250,.85); */
	position: absolute;
	width: 100%;
	z-index: 999;
	top: 57px; }

	@media (max-width: 575.98px) {
		#header-2-bottom {
			position: fixed;
			top: 0;
		}
	}
/* END HEADER-2-BOTTOM */
/** Header nav bottom **/


/** Sliding header **/
#sliding-header {
	width: 100%;
	background: #FFFFFF;
	transition: .5s;
	position: fixed;
	top: -100px;
	z-index: 999;
}

#sliding-header .navbar-brand img {
	max-width: 200px;
}

#sliding-header .nav-link img {
	position: relative;
	bottom: 4px;
}

.top-menu-tel {
	font-family: HelveticaNeueBoldCondensed;
	font-size: 18px;
	text-decoration: none;
	color: var(--default-color);
}

/* Navbar brand */
a.navbar-brand {
	margin-right: 0; }
	
	/* sm (less than 576px) */
	@media (max-width: 575.98px) {
		.navbar-brand img {
			height: 40px;
		}
	}
	/* End navbar brand */

#sliding-header a.nav-link {
	color: var(--dark-color);
}

#sliding-header a.nav-link:hover,
#sliding-header a.nav-link.active {
	color: var(--corporate-color-1);
}

/* lg (tablets, less than 992px) */
@media (max-width: 991.98px) {
	#sliding-header {
		top: 0px;
		transition: 0;
	}
	#sliding-header .navbar-brand img {
		max-width: 135px;
	}
	
	.nav-item .dropdown .dropdown-toggle .dropdown-menu {
		margin-left: 0px;
	}
}
/** End sliding header **/
/*** END MENU ***/


/*** HOME ***/

/** Main home section **/
.main-home-section {
	min-height: 640px;
} 

.home-section-height {
	min-height: 425px; }

	@media (max-width: 991.98px) {
		.home-section-height {
			min-height: 640px;
			padding-top: 100px;
			padding-bottom: 60px;
		}
	}
/** End main home section **/

.home-cutting {
	min-height: 400px;
	background: url(../img/header-cutting-bg.jpg) 100% 0%;
	background-size: cover;
	padding-top: 86px;
	}

	@media (max-width: 991.98px) {
		.home-cutting {
			padding-top: 55px;
			}
		}

.home-subtitle {
	font-family: Gilroy-Light;
	font-size: 24px;
	line-height: 32px;
	color: #EBEBEB; }
	
	@media (max-width: 991.98px) {
		.home-subtitle {
			font-size: 22px;
			line-height: 25px;
		}
	}


/* home section CUCINA */

.home-cucina {
	height: 640px;
}

.home-cucina .parallax-home-section {
	background: url(../img/home-background-cucina.jpg);
}

/* end home section CUCINA*/

/* Home video section */

.home-video-section {
    background: url(../img/main-home-bg.jpg);
	background-size: cover;
	background-position: center;
	position: absolute; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    z-index: -1;
    min-height: 640px;
	overflow: hidden;
}

.home-section-video {
	height: 640px; 
}
	

.home-video-section video {
	width: 100%; 
	height: auto;
	position: absolute;
	left: 0;
	top: -160px;
	z-index: -2;
	overflow: hidden;
}

.home-video-section .col {
	padding-top: 375px;
	padding-bottom: 250px;
}
	
/* End home video section */


/* Parallax home section */
.parallax-home-section {
	min-height: 640px;
	width: 100%;
	position: fixed;
	background: url(../img/contact.jpg) no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	z-index: -1;
}

	/* md (less than 768px) */
	@media (max-width: 767.98px) {
		.parallax-home-section {
			background-position: 15% 50%;
		}
	}
/* End parallax home section */

.home-subtitle {
	font-family: Gilroy-Light;
	font-size: 24px;
	line-height: 32px;
	color: #EBEBEB; }
	
	@media (max-width: 991.98px) {
		.home-subtitle {
			font-size: 22px;
			line-height: 25px;
		}
	}

/*** END HOME ***/



/*** VIDEO SECTION CUCINA***/
#video {
	padding-top: 38px;
}

#video-container {
	padding-bottom: 60px;
}

#video-container nav {
	font-family: Gilroy-Light;
	font-size: 18px;
	color: #323232;
	margin-bottom: 30px;
	display: flex;
    align-items: center;
}

#video-player {
	position: relative;
	z-index: 1;
}

#play-circle {
	width: 35%;
	height: 35%;
	background: url(../img/ico/play-circle.png) no-repeat;
	background-size: contain;
	position: absolute;
	top: 33%;
    left: 40%;
	z-index: 100;
}

#stop-circle {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 100;
	color: rgba(255,255,255,.25);
	display: none;
	font-size: 50px;
	cursor: pointer;
	transition: .25;
}

#stop-circle:hover {
	color: white;
}

#stop-circle i {
	position: absolute;
	right: 5%;
	bottom: 5%;
}

#play {
	width: 19%;
	aspect-ratio: 1;
	background: url(../img/ico/play-border.png) no-repeat;
	background-size: contain;
	position: absolute;
	top: 34%;
    left: 22%;
	cursor: pointer;
	transition: .25s;
}

#play:hover {
	background: url(../img/ico/play-blue.svg) no-repeat;
	background-size: contain;
	position: absolute;
	cursor: pointer;
	transition: .25s
}

/*** END VIDEO SECTION CUCINA ***/

/*** ABOUT SECTION ***/


.about-section .single-product-img {
	width: 100%;
	height: 450px;
	position: relative;
	overflow: hidden; }
	
	@media (max-width: 991.98px) {
		.about-section .single-product-img {
			width: 100%;
			height: auto;
		}
	}


.about-section .single-product-img img {
	width: 100%;
	height: 100%;
	transition: .3s all ease;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	o-object-fit: cover;
	object-fit: cover;
	object-position: cover; }
	
	@media (max-width: 991.98px) {
		.about-section .single-product-img img {
			o-object-fit: contain;
			object-fit: contain;
			object-position: contain;
		}
	}
	

.about-section .approximation {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.about-section .approximation img {
	width: 100%;
	height: 100%;
	transition: .3s all ease;
	transform: scale(1);
	object-fit: cover;
	object-position: center;
}

.about_box {
    margin-bottom: 20px;
}

.modal_box_paint {
    display: flex;
    width: 636px;
    height: 424px;
    border-radius: 10px;
    align-items: center;
    overflow: hidden;
}

.description_about:has(p.text-start) {
    padding-left: 20px;
    padding-right: 0;
    margin-bottom: 0;
    margin-bottom: 0;
}

.description_about p {
    line-height: 27px;
}

/* About section gallery */
#aboutSectionGalleryWrapper {
	background: rgba(0, 0, 0, 0.85); 
	display: none; 
	position: fixed; 
	top: 0; 
	bottom: 0; 
	left: 0; 
	right: 0; 
	z-index: 9999;
}
/* End about section gallery */
/*** END ABOUT SECTION ***/



/*** ORDER SECTION ***/
.order-section .col-md-6 {
	padding-top: 145px;
	padding-bottom: 145px;
}

.order-section img {
	position: absolute;
	bottom: 0;
	left: 12%;
}

.order-section h2 {
	max-width: 570px;
	color: #323232;
	font-size: 26px;
}
/*** END ORDER SECTION ***/

/*** ABOUT CUCINA SECTION ***/

.about-section, .portfolio-cucina {
	padding-block: 60px;
}

.description-block:not(:last-child) {
	margin-bottom: 70px;
}

.description-block p {
	font-family: Gilroy-Light;
}

#aboutSectionGallery1Wrapper, #aboutSectionGallery2Wrapper {
    background: rgba(0, 0, 0, 0.85);
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

/*** END ABOUT CUCINA SECTION ***/



/*** PORTFOLIO SECTIONS ***/
.post-entry,
.project-entry {
	overflow: hidden;
	position: relative;
	display: block;
}

.project-entry a {
	text-decoration: none;
}

.post-entry .figure,
.project-entry .figure {
    overflow: hidden;
    margin-bottom: 20px;
}

.post-entry h3,
.project-entry h3,
.woocommerce-loop-category__title,
.h3 {
    font-size: 18px;
    line-height: 1.3;
	color: var(--default-color);
}

.post-entry h3 a,
.project-entry h3 a {
    color: #000;
}

.post-entry img,
.project-entry img {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.post-entry:hover img,
.project-entry:hover img {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
	
.figure {
  display: inline-block;
}

.figure img {
	max-width: 100%;
    height: auto;
}
  
.post-entry .figure,
.project-entry .figure {
    overflow: hidden;
    margin-bottom: 20px;
}

/* Portfolio section */
.portfolio-section-img {
	width: 100%;
	height: 450px;
	position: relative;
	overflow: hidden;
}

.portfolio-section-img img {
	width: 100%;
	height: 100%;
	transition: .3s all ease;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	o-object-fit: cover;
	object-fit: cover;
	object-position: cover;
}
/* End portfolio section */
/*** END PORTFOLIO SECTIONS ***/



/*** SECTION PORTFOLIO ***/
.section-portfolio .project-container-2:hover {
	cursor: pointer;
}

#myTab .nav-link {
	font-family: HelveticaNeueCyr-Medium;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	color: #4b4b4b;
}

#myTab .nav-item:has(span) {
	padding-bottom: 2px;
}

#myTab .nav-link.active,
#myTab .nav-link:hover {
    color: #DC3545;
	cursor: pointer;
}

.section-portfolio .card-wrapper div {
	font-family: HelveticaNeueBoldCondensed;
	font-size: 24px;
	color: #e1e1e1;
	bottom: 25px;
	left: 30px;
	z-index: 20;
}

.section-portfolio .project-container-2 {
	position: relative;
	max-width: 516px;
	aspect-ratio: 1.5;
}

.section-portfolio .project-container-2:after {
	border-radius: 0.375rem;
}

.carousel-item {
    position: relative;
    cursor: pointer;
    padding-right: 0px !important;
    transition: transform 0.6s ease-in-out;
	background: rgba(0, 0, 0, 0.99);
    inset: 0px;
}

#portfolioGalleryWrapper {
    background: rgba(0, 0, 0, 0.85);
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
/*** END SECTION PORTFOLIO ***/



/*** PORTFOLIO CUCINA SECTION ***/
.portfolio-cucina .card-wrapper div {
	font-family: HelveticaNeueBoldCondensed;
	font-size: 24px;
	color: #e1e1e1;
	bottom: 25px;
	left: 30px;
}

.portfolio-cucina .project-container-2 {
	position: relative;
	height: 277px;
}

.portfolio-cucina .project-container-2:after {
	border-radius: 0.375rem;
}

/* .portfolio-cucina .magnifier {
    opacity: 0;
    position: absolute;
	cursor: pointer;
	height: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    transition: 0.35s;
    background: url(../img/ico/magnifying-glass.svg) center center no-repeat;
}

.portfolio-cucina .magnifier:hover {
	opacity: 1;
} */

/* .project-container-2 {
	height: 100% !important;
} */

.project-container-2 .project-container-2-footer {
    color: #fff;
}

/*** END PORTFOLIO CUCINA SECTION ***/

/*** ABOUT CUCINA ***/

.about-cucina .approximation {
	height: 450px;
}

/*** END ABOUT CUCINA ***/

/** ADVANTAGE SECTION **/
.advantage-title {
	font-family: HelveticaNeueBoldCondensed;
	font-size: 20px;
	margin-bottom: 0;
}

p.advantages {
    font-size: 20px;
}
/** /ADVANTAGE SECTION **/

/*** GRADIENT ORDER SECTION ***/
.gradient-order-section {
    background-position: center;
    background-size: cover;
    /* background-repeat: no-repeat; */
	padding-top: 120px;
	padding-bottom: 120px; }

	/* lg (tablets, less than 992px) */
	@media (max-width: 991.98px) {
		.gradient-order-section {
			background-position: 0px 50px;
			padding-top: 60px;
			padding-bottom: 60px;
		}
	}
/*** END GRADIENT ORDER SECTION ***/


/** ORDER LEFT GRADIENT SECTION **/
.order-left-gradient-section {
    background-image: url(../img/gradient-order-section-bg.jpg);
	background-color: #323232;
	background-position: center;
    background-size: cover; }

	/* lg (tablets, less than 992px) */
	@media (max-width: 991.98px) {
		.order-left-gradient-section {
			background-image: none;
		}
	}
/** END ORDER LEFT GRADIENT SECTION **/


/** ORDER RIGHT GRADIENT SECTION **/
.order-right-gradient-section {
    background-image: url(../img/order-left-gradient-section-bg.jpg);
	background-color: #F5F5F5;
	background-position: center;
    background-size: cover; }

	/* lg (tablets, less than 992px) */
	@media (max-width: 991.98px) {
		.order-right-gradient-section {
			background-image: none;
		}
	}
/** END ORDER RIGHT GRADIENT SECTION **/


/* MANUFACTURE SECTION */
.manufacture-section-img {
	width: 100%;
	height: 450px;
	position: relative;
	overflow: hidden;
}

.manufacture-section-img img {
	width: 100%;
	height: 100%;
	transition: .3s all ease;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	o-object-fit: cover;
	object-fit: cover;
	object-position: cover;
}
/* END MANUFACTURE SECTION */

/*** QUESTIONS SECTION ***/
.accordion-item {
	border: 1px solid #D7D7D7;
	border-radius: 5px;
	background: #f8f9fa;
}

.accordion-item:not(:first-of-type) {
	border-top: 1px solid #D7D7D7;
}

.accordion-button{
	color: var(--dark-color) !important;
	font-family: HelveticaNeueBoldCondensed;
	font-size: 20px;
	background-color: #f8f9fa;
	border-radius: 5px;
}

.accordion-button:not(.collapsed){
	background-color: #f8f9fa;
	box-shadow: none;
	border-radius: 5px;
}

.accordion-button:focus {
	z-index: 3;
	outline: 0;
	border-color: transparent;
	border-radius: 5px;
	box-shadow: none;
}

.accordion-body {
	font-family: Gilroy-Light;
	color: #323232;
	font-size: 20px;
	padding: 1rem 1.25rem;
	padding-top: 0px;
	margin-bottom: 0.5rem;
	line-height: 145%;
}

.accordion-button::after,
.accordion-button:not(.collapsed)::after {
	background-image: url(../img/ico/accordion-arrow.svg);
	background-position: center;
	border-radius: 5px;
}
/*** END QUESTIONS SECTION ***/

/*** ARCHIVE PRODUCT ***/
.form-check-label:hover,
.cat-item a:hover,
.woocommerce-widget-layered-nav-list__item.wc-layered-nav-term a:hover,
.cat-item.current-cat a,
.cat-item.current-cat span {
	color: #00A3D3;
}

h6,
.widget-title {
    font-family: HelveticaNeueCyr-Bold;
    color: #4b4b4b;
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
    text-transform: uppercase;
}

.form-check-label {
	font-family: HelveticaNeueCyr-Roman;
	color: #323232;
	font-size: 16px;
	margin-bottom: 0;
	text-decoration: none;
}

.category {
    display: block;
    text-decoration: none;
    color: #323232;
    line-height: 33px;
    font-weight: 500;
    cursor: pointer;
}

.category.active {
    color: #00A3D3;
}

.category span {
    font-weight: normal;
}

.category_check {
    display: none;
}

.category_check:checked+span {
    background-color: #00AEEF;
}

.custom-checkbox {
    display: flex;
    position: relative;
    width: 16px;
    height: 16px;
    padding: 2px;
    border: 1px solid #D9D9D9;
    background-color: transparent;
    cursor: pointer;
    margin-right: 5px;
}

.custom-checkbox span {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.pages {
    width: 100%;
    height: auto;
}

.pages_box {
    display: flex;
    width: 100%;
    justify-content: center;
}

.page-link {
    padding: 5px 15px;
    background-color: #fff;
    border: 1px solid #00A3D3;
    font-size: 18px;
}

.page-link.active {
    background-color: #00A3D380;
}

.mobile-wrap {
    flex-wrap: nowrap;
}

.mobile-width {
    width: 80%;
    flex-wrap: wrap
}

.mobile-text {
    display: none;
}

.text-end-product {
    text-align: left;
}

.pc-sell {
    position: absolute;
    bottom: 0;
}

.pc-btn-more {
    display: none;
}

.action-box {
    position: relative;
}

.blue_circle {
    position: absolute;
    bottom: -150px;
    left: -200px;
    width: 416px;
    height: 277px;
    border-radius: 50%;
    background-color: #00A3D3;
    z-index: 1;
}

.blue_circle h4 {
    color: #fff;
    position: absolute;
    right: 60px;
    top: 40px;
}

.archive-product-page.active {
    border: 1px solid #00A3D3;
}

.archive-product-section .project-container-2 .project-container-2-footer {
    height: 100%;
}
/*** END ARCHIVE PRODUCT ***/

/*** ARCHIVE PORTFOLIO SECTION ***/
.archive-portfolio-section .section-description {
	font-family: Gilroy-Light;
	font-size: 20px;
}

.archive-portfolio-section span img {
	padding-bottom: 2px;
}

.archive-portfolio-section h3 {
    font-family: HelveticaNeueBoldCondensed;
	font-size: 20px;
	color: var(--light-color);
	margin: 0 30px;
	margin-bottom: 24px;
}

.archive-portfolio-section .approximation {
    position: relative;
    width: 100%;
    overflow: hidden;
	max-height: 424px;
	border-radius: 10px;
}

.approximation img {
    width: 100%;
    height: 100%;
    transition: .3s all ease;
    transform: scale(1);
    object-fit: cover;
    object-position: center;
}

/* .services {
    border-radius: 10px;
    width: 626px;
    height: 424px;
} */

.archive-product-section .project-container-2 {
    width: 100%;
	max-height: 424px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.archive-product-section .project-container-2  img{
	border-radius: 0.375rem;
}

.project-container-2 .project-container-2-footer {
    position: absolute;
    z-index: 1;
	max-height: 424px;
    /* top: ;
    bottom: ; */
    left: 0px;
    right: 0px;
    padding: 0px;
}

.project-container-2:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, .65), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    opacity: 1;
    transition: .25s;
	border-radius: 0.375rem;
}

.project-container-2:hover {
	cursor: pointer;
}

.project-container-2:hover:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, .65), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    opacity: 0;
    transition: .25s;
}

.services {
    border-radius: 10px;
    width: 626px;
    height: 424px;
}

.card-wrapper {
	position: relative;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 1;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}


/* Archive portfolio section 2 */
.archive-portfolio-section-2 .nav-item a {
    color: #000000;
    opacity: .75;
    transition: .25s;
}

.archive-portfolio-section-2 .nav-item a.active {
    color: #00A3D3;
}

.archive-portfolio-section-2 .card-portfolio {
    position: absolute;
    width: 94%;
    left: 30px;
    bottom: 18px;
}

.archive-portfolio-section-2 .card-portfolio h3 {
    color: #fff;
}

.archive-portfolio-section-2 .project-container-2 {
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.archive-portfolio-section-2 .approximation {
    overflow: hidden;
	height: 424px;
}
/* End archive portfolio section 2 */
/*** END ARCHIVE PORTFOLIO SECTION ***/

/*** ARCHIVE PRODUCT CAT SECTION ***/
.archive-product-cat-section h3 {
	font-family: HelveticaNeueBoldCondensed;
	font-size: 20px;
	color: var(--light-color);
	margin: 0 30px;
	margin-bottom: 24px;
	position: absolute;
	bottom: 0;
	width: 100%;
}
/*** END ARCHIVE PRODUCT CAT SECTION ***/

/*** SINGLE PRODUCT SECTION ***/
.single-product-img {
	width: 100%;
	height: 450px;
	position: relative;
	overflow: hidden;
}

.single-product-img img {
	width: 100%;
	height: 100%;
	transition: .3s all ease;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	o-object-fit: cover;
	object-fit: cover;
	object-position: cover;
}

.single-calculate {
	font-family: Gilroy-Medium;
	line-height: 25px;
}

.single-calculate-light {
	font-family: Gilroy-Light;
	line-height: 25px;
}

.single-calculate-red {
	font-family: HelveticaNeueBoldCondensed;
	color: var(--corporate-color-1);
}

.single-calculate-text {
	font-family: Gilroy-Regular;
	line-height: 25px;
}
/*** END SINGLE PRODUCT SECTION ***/


/*** SINGLE PRODUCT PORTFOLIO SECTION ***/
.single-product-portfolio-section {
	padding-top: 80px; }
	
	/* lg (less than 992px) */
	@media (max-width: 991.98px) {
		.single-product-portfolio-section {
			padding-top: 50px;
		}
	}

.product_info {
	padding-right: 0;
}

.product_info p {
	font-family: HelveticaNeueCyr-Light;
	margin-bottom: 10px;
	padding-bottom: 0;
	line-height: 30px;
}

strong {
    font-weight: bold;
    font-family: Gilroy-Regular;
}

.single-portfolio-btn {
    background-color: #00A3D3;
    font-family: HelveticaNeueCyr-Bold;
    padding: 13px 36px;
    border-radius: 5px;
}

/*** END SINGLE PRODUCT PORTFOLIO SECTION ***/

/*** CONTACTS SECTION ***/
.contacts-section li {
	padding-left: none;
	margin-bottom: 8px;
	color: #f5f5f5;
	font-family: HelveticaNeueCyr-Roman;
	font-size: 16px;
}

.navbar-expand-xl .navbar-nav .dropdown-menu {
    position: absolute;
    left: 200px;
    top: 40px;   
}
/*** END CONTACTS SECTION ***/

/*** CONTACTS SECTION 4 ***/
.contacts-section-4 {
	background: url(../img/footer-bg.jpg) center;
	background-size: cover; }

	@media (max-width: 575.98px) {
		.contacts-section-4 {
			background: url(../img/footer-bg.jpg) 35% 50%;
			background-size: cover;
		}
	}

.contacts-section-4 .nav-link,
.contacts-section-4 .left-col-footer-menu .nav-link,
.contacts-section-4 .right-col-footer-menu .nav-link {
	font-family: Gilroy-Medium;
	font-size: 14px;
	color: #C8C8C8;
	text-transform: uppercase;
	transition: .25s;
}

.contacts-section-4 .nav-link:hover,
.contacts-section-4 .nav-link.active  {
	color: var(--corporate-color-1);
}

.contacts-section-4 .nav-link span {
    font-family: HelveticaNeueCyr-Light;
	text-transform: none;
    color: #E1E1E1;
    transition: .25s;
    opacity: 1;
}

.contacts-section-4 .nav-link span:hover {
    opacity: .85;
}

.contacts-section-4 .nav-link img {
	position: relative;
	bottom: 2px;
}

.contacts-section-4 .nav-li-float-left {
    width: 24px;
    float: left;
	margin: auto;
	margin-right: 10px;
	text-align: center;
}

.contacts-section-4 .nav-li-float-right {
    width: calc(100% - 24px);
    float: right;
	margin: auto;
	line-height: 18px;
}

.contacts-section-4 .contacts-phone {
	font-family: HelveticaNeueBoldCondensed;
	font-size: 18px;
	color: #C8C8C8;
	text-decoration: none;
	transition: .25s;
}

.contacts-section-4 .dropdown-toggle::after {
	background-image: url(../img/ico/chevron-down.svg);
    background-position: bottom;
    vertical-align: 0;
    margin-left: 14px;
    background-size: 10px;
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    border: none;
}

.footer_item img {
    padding-bottom: 4px;
}

.contact_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 540px;
    background: url(../img/contact.png);
    background-position: center;
}

.contact-info {
    max-width: none;
    flex: 0 0 20%;
    padding-left: 0;
    padding-right: 0;
}
.contact-box-info span {
    line-height: 20px;
}
/*** END CONTACTS SECTION 4 ***/

/*** FOOTER ***/
footer {
	border-top: 1px solid #969696;
	text-align: center;
	color: #f5f5f5;
	padding-top: 15px;
	padding-bottom: 15px;
}

#company-in-footer {
	font-family: Gilroy-Medium;
	font-size: 16px;
}

#im-in-footer {
	font-family: Gilroy-Light;;
	font-size: 14px;
}
/*** END FOOTER ***/


#map2 {
	height: 500px;
}


.onsale {
	display: none;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.15) 35%, rgba(0, 0, 0, 0.15) 100%);
}

#background-msg {
	background: black;
	z-index: 9999;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.9;
	cursor: pointer;
}

#message {
	z-index: 9999;
	max-width: 450px;
	position: fixed;
	top: 45%;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 130%;
	color: white;
	margin: auto;
}

/* .btn-close {
	display: none;
} */

/*** CALLBACK BUTTON ***/
.callback-button-wrapper {
	position: fixed;
	bottom: 50px;
	right: 25px;
	z-index: 999;
}

.callback-button {
	width: 70px;
	height: 70px;
	background: var(--corporate-color-1);
	border-radius: 50%;
	animation: waves linear 2s infinite;
	-webkit-animation: waves linear 2s infinite;
	transition: .25s;
	cursor: pointer;
	padding-top: 15px;
	padding-left: 15px;
	position: relative;
	top: 0;
	left: 0;
	z-index: 999;
}


@keyframes waves {
	0% {
		box-shadow: 0 0 0 0 rgba(0,163,211,.3), 0 0 0 0 rgba(0,163,211,.3), 0 0 8px 0 rgba(0,0,0,.5);
	}
	50% { box-shadow: 0 0 0 0 rgba(0,163,211,.15), 0 0 0 15px rgba(0,163,211,.15), 0 0 8px 0 rgba(0,0,0,.5);
	}
	100% {
		box-shadow: 0 0 0 20px rgba(0,163,211,0), 0 0 0 30px rgba(0,163,211,0), 0 0 8px 0 rgba(0,0,0,.5);
	}
}

.callback-button:hover {
	background: var(--corporate-color-hover-1);
}

.callback-button-ico {
	width: 40px;
	height: 40px;
	filter: invert();
	animation: change linear 16s infinite;
	-webkit-animation: change linear 16s infinite;
	-webkit-transition: transform 1s ease-in-out;
	transition: transform 1s ease-in-out;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@keyframes change {
	0% {
		background-image: url(../img/ico/callback-button-ico.png);
		background-position: center;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		opacity: 0;
	}
	1%{
		background-image: url(../img/ico/callback-button-ico.png);
		background-position: center;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
		opacity: 1;
	}
	24%{
		background-image: url(../img/ico/callback-button-ico.png);
		background-position: center;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
		opacity: 1;
	}
	25%{
		background-image: url(../img/ico/callback-button-ico.png);
		background-position: center;
		background-repeat:no-repeat;
		background-size:cover;
		-moz-background-size:cover;
		-webkit-background-size:cover;
		-o-background-size:cover;
		transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		opacity:0;
	}
	26%{
		background-image: url(../img/ico/callback-phone-ico.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		opacity: 0;
	}
	27%{
		background-image: url(../img/ico/callback-phone-ico.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		opacity: 1;
	}
	49%{
		background-image: url(../img/ico/callback-phone-ico.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
		opacity: 1;
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
	}
	50%{
		background-image: url(../img/ico/callback-phone-ico.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		opacity: 0;
	}
	51%{
		background-image: url(../img/ico/callback-whatsapp-ico.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
		transform: rotate(0deg);
		opacity: 0;
	}
	52%{
		background-image: url(../img/ico/callback-whatsapp-ico.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
		opacity: 1;
		transform: rotate(360deg);
	}
	74%{
		background-image: url(../img/ico/callback-whatsapp-ico.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
		opacity: 1;
		transform: rotate(360deg);
	}
	75%{
		background-image: url(../img/ico/callback-whatsapp-ico.svg);
		background-position: center;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		opacity: 0;
	}
	76%{
		background-image: url(../img/ico/callback-telegram-ico.svg);
		background-position: center;
		background-repeat: no-repeat;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		opacity: 0;
	}
	77%{
		background-image: url(../img/ico/callback-telegram-ico.svg);
		background-position: center;
		background-repeat: no-repeat;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		opacity: 1;
	}
	99%{
		background-image: url(../img/ico/callback-telegram-ico.svg);
		background-position: center;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		opacity: 1;
	}
	100% {
		background-image: url(../img/ico/callback-telegram-ico.svg);
		background-position: center;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size :cover;
		-o-background-size: cover;
		background-size: cover;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		opacity: 0;
	}
}

@keyframes change2 {
	0% {
		background-image: url(../img/ico/callback-button-close.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
		transform: rotate(0deg);
		opacity: 0;
	}
	50% {
		background-image: url(../img/ico/callback-button-close.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
		transform: rotate(180deg);
		opacity: 1;
	}
}

.callback-form-button {
	width: 50px;
	height: 50px;
	background: var(--corporate-color-1);
	border-radius: 50%;
	cursor: pointer;
	padding-top: 10px;
	padding-left: 10px;
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 1;
	transition: .25s;
}

.callback-form-button:hover {
	background: var(--corporate-color-hover-1);
}

.callback-form-button-ico {
	width: 30px;
	height: 30px;
	filter: invert();
	background: url(../img/ico/callback-phone-button-ico.svg) center no-repeat;
	background-size: contain;
	-moz-background-size: contain;
	-webkit-background-size: contain;
	-o-background-size: contain;
}

.callback-phone-button {
	width: 50px;
	height: 50px;
	background: var(--corporate-color-1);
	border-radius: 50%;
	cursor: pointer;
	padding-top: 10px;
	padding-left: 10px;
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 1;
	transition: .25s;
}

.callback-phone-button:hover {
	background: var(--corporate-color-hover-1);
}

.callback-phone-button-ico {
	width: 30px;
	height: 30px;
	filter: invert();
	background: url(../img/ico/callback-phone-ico.svg) center no-repeat;
	background-size: contain;
	-moz-background-size: contain;
	-webkit-background-size: contain;
	-o-background-size: contain;
}

.callback-whatsapp-button {
	width: 50px;
	height: 50px;
	background: var(--corporate-color-1);
	border-radius: 50%;
	cursor: pointer;
	padding-top: 10px;
	padding-left: 10px;
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 1;
	transition:.25s;
}

.callback-whatsapp-button:hover {
	background: var(--corporate-color-hover-1);
}

.callback-whatsapp-button-ico {
	width: 30px;
	height: 30px;
	filter: invert();
	background: url(../img/ico/callback-whatsapp-ico.svg) center no-repeat;
	background-size: contain;
	-moz-background-size: contain;
	-webkit-background-size: contain;
	-o-background-size: contain;
}

.callback-telegram-button {
	width: 50px;
	height: 50px;
	background: var(--corporate-color-1);
	border-radius: 50%;
	cursor: pointer;
	padding-top: 10px;
	padding-left:10px;
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 1;
	transition: .25s;
}

.callback-telegram-button:hover {
	background: var(--corporate-color-hover-1);
}

.callback-telegram-button-ico{
	width: 30px;
	height:30px;
	filter: invert();
	background: url(../img/ico/callback-telegram-ico.svg) center no-repeat;
	background-size: contain;
	-moz-background-size: contain;
	-webkit-background-size: contain;
	-o-background-size :contain;
}
/*** CALLBACK BUTTON ***/


@media (max-width: 1399.98px) {
	.max-width-1400 {
		max-width: 77px;
	}

	.home-video-section video {
		top: -40px;
	}
	
	.home-section-video {
		height: 540px;
	}

}

@media (max-width: 991.98px) {
	.home-video-section video {
		top: 0px;
	}
	
	#top-menu-2 {
		/* border-top: 1px solid rgba(175,175,175,.5);
		background: rgba(248,249,250,1); */
		position: fixed;
		width: 100%;
		z-index: 999;
		top: 0px;
	}

	#top-menu-3 {
		/* border-top: 1px solid rgba(175,175,175,.5);
		background: rgba(248,249,250,1); */
		position: fixed;
		width: 100%;
		z-index: 999;
		top: 0px;
		background-color: #fff;
	}

	#navbarSupportedContent5 .nav-link {
		color: #4B4B4B;
	}

	.top-menu-tel {
		color: #4B4B4B;
	}
}	


/* sm (less than 576px) */

@media (max-width: 575.98px) {

	/* HEADER */
	.header-padding-top {
		padding-top: 100px;
	}
	
	#header-slider .container > .row {
		min-height: 600px;
	}
	
	/* Выравнивание по вертикале иконок преимуществ в шапке */
	#header-slider .align-items-center img,
	#header-catalogy .align-items-center img
	{
		max-width: 58px;
	}
	
	#header-slide-4 {
		background: url(../img/main-header-slide-4.jpg) 70% 30%;
	}
	/* END HEADER */

	.home-section_main {
		padding-top: 90px;
		padding-bottom: 50px;
	}

	/* Home video section */
	.home-video-section video {
		width: auto;
		height: 100%;
		left: -120%; /* Смещаем видео */
	}
	
	.home-video-section .col {
		padding-top: 175px;
		padding-bottom: 85px;
	}
	/* End home video section */

	.home-title {
		font-size: 31px;
		width: 100%;
	}	

	.logo-cucina img {
		width: 90%;
	}

	
	.price {
		font-size: 24px;
	}
	
	.order-section img {
		display: none;
	}
	
	.product-cat-title {
		font-family: HelveticaNeueCyr-Light;
		font-size: 16px;
	}
	
	.product-cat-title span {
		line-height: 10px;
	}
	
	.advantages ul {
		padding-left: 0;
	}
	
	.footer-menu .navbar-brand img {
		height: 50px;
	}

	.carousel-item {
        height: auto;
    }
	
	#carouselExampleIndicators2 .carousel-item {
		text-align: center;
		height: 520px;
		line-height: 270px;
	}
	
	#carouselExampleIndicators2 .carousel-item img {
		vertical-align: middle;
	}

	/*** MANUFACTURE SECTION ***/
	.manufacture-section-img {
		width: 100%;
		height: 270px;
	}

	.manufacture-section-img img {
		o-object-fit: cover;
		object-fit: cover;
		object-position: cover;
		height: 250px;
	}
	
	#carouselExampleIndicators2 .carousel-item {
		text-align: center;
		height: 520px;
		line-height: 270px;
	}
	
	#carouselExampleIndicators2 .carousel-item img {
		vertical-align: middle;
	}
	/*** END MANUFACTURE SECTION ***/
}

@media (max-width: 360px) {
    .home-video-section {
        position: relative;
        height: 550px;
    }
    .home-video-section video {
        top: auto;
        left: -110%;
    }
    .home-title {
        font-size: 31px;
    }
    .carousel-item-2 img {
        height: auto;
        max-width: 75vw;
        max-height: 75vw;
    }

    .carousel-inner {
        width: 100%;
    }

    .services {
        width: 100%;
    }

    .single_img,
    .single_img_slide {
        width: 336px;
        height: 224px;
    }

    .site-wrap {
        height: auto;
    }

    .mobile-none {
        display: none;
    }

    .mobile-wrap {
        flex-wrap: wrap;
    }

    .pages {
        display: none;
    }

    .mobile-width {
        padding-right: 0;
        width: 100%;
    }

    .mobile-text {
        display: block;
    }

    .header-text {
        text-align: left !important;
    }

    .project-container-2 .project-container-2-footer {
        color: #fff;
        height: auto;
    }

    .text-end-product {
        text-align: right !important;
    }

    .pc-sell {
        position: relative;
    }

    .pc-btn-more {
        display: block;
    }
    .contact-box-info {
        flex-direction: column;
        gap: 15px;
    }
    .breadcrumbs_box {
        margin-top: 70px;
    }
}